<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Processor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.7.1/js/uswds-init.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.7.1/css/uswds.min.css">
    <script src="//d3js.org/d3.v4.js"></script>
</head>
<style>
    input[type="date"] {
        margin-top: 2px;
        min-width: 75%;
        min-height: 50px;
        border-width: 1px;
        border-color: #565C65;
    }
</style>
<body style="background-color: #FCFCFC;">

<div class="grid-container mobile-lg:width-mobile-lg desktop:width-tablet-lg padding-2 shadow-5">
    <div class="grid-row">
        <div class="grid-col">
            <div class="usa-overlay"></div>
                <header class="usa-header usa-header--basic">
                    <div class="usa-nav-container">
                        <div class="usa-navbar">
                            <div class="usa-logo">
                                <em class="usa-logo__text">
                                    Billion Oyster Project
                                </em>
                            </div>
                        </div>
                    </div>
                </header>
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uswds/3.7.1/js/uswds.min.js"></script>
</body>
<div class="padding-1 grid-container mobile-lg:width-mobile-lg desktop:width-tablet-lg" style="background-color: #fcfcfca1;">
    <div class="grid-row">
        <a href="/terms/privacy">Privacy</a>
    </div>
</div>


</html>