{% extends "base.html" %}

{% block content %}

<form class="usa-form" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <fieldset class="usa-fieldset">
        <legend class="usa-legend usa-legend--large">
            ORS Site Data Entry
        </legend>

        <label class="usa-label">Tag Shape</label>
        {{ form.tag_type(class="usa-select")}}

        <label class="usa-label">Date</label>
        {{ form.monitoring_date(class="custom-date-picker") }}

        <label class="usa-label">Total Live Oysters</label>
        {{ form.total_live_oysters(class="usa-input") }}

        <label class="usa-label">Document Image</label>
        {{ form.image(class="usa-file-input") }}

        <input class="usa-button" type="submit" value="Upload">
    </fieldset>
</form>

{% endblock %}