<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    table, th, td {
      border:1px solid black;
    }
    .content-container {
        margin: auto;
        padding: 4px;
    }
</style>
<body class="content-container">
    <div><h2>ORS Data Submission Portal</h2></div>
    {% if not authorized %}
    <div><p>Please <a href=/login>login</a> to begin data submission.</p></div>
    {% endif %}

    {% if authorized %}
        <div><a href=/logout>logout</a></div>

        <div>
            <div><p>Upload an ORS Measurements Sheet</p></div>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
        </div>
        {% if data_processed %}
        <table>
            <tr>
                <th>Measurements</th>
                <th>Live/Dead</th>
            </tr>
            {% for value in df.values %}
            <tr>
                <td>{{ value[0] }}</td>
                <td>{{ value[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    {% endif %}
</body>
</html>