<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    table, th, td {
      border:1px solid black;
    }
    .content-container {
        margin: auto;
        padding: 4px;
    }
</style>
<body class="content-container">
    <div><h2>ORS Data Submission Portal</h2></div>
    {% if not authorized %}
    <div><p>Please <a href=/login>login</a> to begin data submission.</p></div>
    {% endif %}

    {% if authorized %}
        <div><a href=/logout>logout</a></div>

        <div>
            <div><p>Upload an ORS Measurements Sheet</p></div>
            <form method=post enctype=multipart/form-data>
                <p>Select Tag Type</p>

                <label for="Rectangle">Rectangle Tag: </label>
                <input id="Rectangle" type="radio" name="tag_type" value="Rectangle">
                <div></div>
                <label for="Circle">Circle Tag: </label>
                <input id="Circle" type="radio" name="tag_type" value="Circle">

                <label for="monitoring_date">Monitoring Date</label>
                <input type="date" name="monitoring_date">

                <!-- TODO Add manual entry from Ambassador Data Entry Google Sheet-->

                <div>
                    <input type=file name=file>
                </div>
                <div><input type=submit value=Submit></div>
            </form>
        </div>
        {% if data_processed %}
        <table>
            <tr>
                <th>Round Tag</th>
                <th>Rectangle Tag</th>
                <th>Measurements</th>
                <th>Live/Dead</th>
            </tr>
            {% for value in df.values %}
            <tr>
                <td>False</td>
                <td>{{ value[0] }}</td>
                <td>{{ value[1] }}</td>
                <td>{{ value[2] }}</td>
                <td>{{ value[3] }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    {% endif %}
</body>
</html>